* {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

body {
    padding: 2%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    width: 100%;
}

.line > * {
    margin-right: 5%;
}

.line label {
    white-space: nowrap;
    text-align: left;
    width: 100%;
}
/*.column > * {*/
    /*width: 100%;*/
/*}*/