<form [formGroup]="form" (ngSubmit)="onSubmit()" class="upload">
  <div mat-dialog-content>
    <h1 mat-dialog-title>Upload file</h1>
    <div>
      <label for="file">{{this.requestedExtension.label}}</label>
      <input type="file" id="file" (change)="onFileChange($event)" #fileInput cdkInitialFocus>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="dialogRef.close()">Cancel</button>
    <button type="submit" mat-raised-button [disabled]="loading">Submit<i class="fa fa-spinner fa-spin fa-fw" *ngIf="this.loading"></i></button>
    <!---->
  </div>
</form>
