<form [formGroup]="form" (ngSubmit)="submit(form)" class="master-password">
  <div matDialogContent>
    <h1 mat-dialog-title>Change master password</h1>
    <div class="settings-row">
      <mat-form-field color="primary">
        <!--[formControl]="origPasswordControl"-->
        <input matInput placeholder="Current password" type="password"  formControlName="oldPassword" required>
        <!--<mat-error *ngIf="origPasswordControl.invalid">{{getPasswordError(origPasswordControl)}}</mat-error>-->
      </mat-form-field>
      <!--TODO: give warning about wrong password-->
    </div>
    <div class="settings-row">
      <mat-form-field color="primary">
        <!--[formControl]="passwordControl"-->
        <input matInput placeholder="New password" type="password"  formControlName="newPassword" required>
        <!--<mat-error *ngIf="passwordControl.invalid">{{getPasswordError(passwordControl)}}</mat-error>-->
      </mat-form-field>
    </div>
    <div class="settings-row">
      <mat-form-field color="primary">
        <!--[formControl]="passwordIdenticalControl"-->
        <input matInput placeholder="New password" type="password"  required>
        <!--<mat-error *ngIf="passwordIdenticalControl.invalid">{{getPasswordIdenticalError()}}</mat-error>-->
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <!--[disabled]="passwordControl.invalid && passwordIdenticalControl.invalid ? '' : null"-->
    <button mat-raised-button  type="submit">Change</button>
  </div>
</form>

