<form [formGroup]="form" (ngSubmit)="submit(form)">
  <div matDialogContent class="column">
    <h1 mat-dialog-title>Change master password</h1>
    <div class="row">
      <mat-form-field color="primary">
        <input [formControl]="origPasswordControl" matInput placeholder="Current password" type="password" required>
        <mat-error *ngIf="origPasswordControl.invalid">{{passwordControlFormFactory.getPasswordError(origPasswordControl)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field color="primary">
        <input [formControl]="newPasswordControl" matInput placeholder="New password" type="password" required>
        <mat-error *ngIf="newPasswordControl.invalid">{{passwordControlFormFactory.getPasswordError(newPasswordControl)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field color="primary">
        <input matInput [formControl]="passwordIdenticalControl" placeholder="Repeat password" type="password" required>
        <mat-error *ngIf="passwordIdenticalControl.invalid">{{passwordControlFormFactory.getPasswordIdenticalError()}}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="row">
    <button mat-raised-button [disabled]="newPasswordControl.invalid && passwordIdenticalControl.invalid ? '' : null" type="submit">Change</button>
  </div>
</form>

