<form [formGroup]="form" (ngSubmit)="submit(form)">
  <div matDialogContent class="column">
    <h1 mat-dialog-title>Change master password</h1>
    <app-password-input [control]="origPasswordControl" [placeholder]="'Current password'" type="password"></app-password-input>
    <app-password-input [control]="newPasswordControl" [placeholder]="'New password'" type="password"></app-password-input>
    <app-password-input [control]="passwordIdenticalControl" [placeholder]="'Repeat password'" type="password"></app-password-input>
  </div>
  <div mat-dialog-actions class="column row">
    <button mat-raised-button [disabled]="newPasswordControl.invalid && passwordIdenticalControl.invalid ? '' : null" type="submit">Change</button>
    <button mat-raised-button (click)="dialogRef.close()">Cancel</button>
  </div>
</form>
