@import "../../variables";


.password-form {
  display: flex;
  flex-direction: column;
  width: 24em;
}

.button-row > button {
  width: 30%;
}

.strength {
  margin: 1% 0 2% 0;
}

.error {
  color: $error;
  text-align: center;
  margin-bottom: 1%;
}
