@import '_variables';

.cdk-global-scrollblock {
  position: relative !important;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: 30em;
}

.dark-theme button:hover {
  background-color: rgba(255, 255, 255, 0.04) !important;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.row > mat-form-field {
  width: 100%;
}

.row > button {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.column > button {
  margin-top: 2%;
}

.matcard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
}

mat-card {
  width: 100%;
  margin-bottom: 2%;
}

.matcard > mat-card {
  max-width: 25em;
}

.section {
  margin-top: 2%;
  margin-bottom: 1% !important;
}

.dark-theme a {
  color: white;
}

@media only screen and (max-width: 30em) {
  body {
    width: 30em;
    height: 60em;
  }
}
