<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Settings
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="column">
      <button mat-raised-button (click)="this.importExportService.importSettings()">Import Settings</button>
      <button mat-raised-button (click)="this.importExportService.exportSettings()">Export Settings</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Passwords
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="column">
      <button mat-raised-button (click)="this.importExportService.importPasswords()">Import Passwords</button>
      <button mat-raised-button (click)="this.importExportService.exportPasswords()">Export Passwords</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
