.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;

}

.settings-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin-bottom: 2%;
}


