<div class="settings">
  <mat-card class="settings-container">
    <h1 class="mat-h1">Settings</h1>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Password generation
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="Password length" type="number" [formControl]="passwordLengthControl" #passwordLength required>
          <mat-error *ngIf="passwordLengthControl.invalid">{{getPasswordLengthError()}}</mat-error>
        </mat-form-field>

        <app-change-alphabet class="settings-row"></app-change-alphabet>

        <div class="column">
          <button mat-raised-button (click)="discardSettings()">Discard changes</button>
          <button mat-raised-button (click)="saveSettings()">Save changes</button>
          <button mat-raised-button (click)="restoreDefaultSettings()">Restore defaults</button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Change masterpassword
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button (click)="changeMasterpassword()">Change masterpassword</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Import/Export
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Settings
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-raised-button (click)="importSettings()">Import Settings</button>
          <button mat-raised-button (click)="exportSettings()">Export Settings</button>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Passwords
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-raised-button (click)="importPasswords()">Import Passwords</button>
          <button mat-raised-button (click)="exportPasswords()">Export Passwords</button>
        </mat-expansion-panel>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Theming
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-slide-toggle [checked]="this.settings.isDarkTheme.value" (change)="changeTheme($event.checked)">Dark-theme</mat-slide-toggle>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-card>
</div>
