<div class="new-password">
  <mat-card>
    <h1 class="mat-h1">Generate new password</h1>
    <form class="new-password-form">
      <mat-form-field>
        <mat-label>Domain</mat-label>
        <input matInput type="text" [(ngModel)]="this.passwordUIHelper.domain" name="domain">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <mat-select [(value)]="this.passwordUIHelper.selectedUsername">
          <mat-option *ngFor="let username of this.settings.usernames" value="{{username}}">
            {{username}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Generated password</mat-label>
        <input matInput type="{{this.passwordUIHelper.passwordInputType}}" [(ngModel)]="passwordUIHelper.password" name="generated">
        <button mat-button matSuffix mat-icon-button matTooltip="Show/Hide" (click)="this.passwordUIHelper.togglePasswordVisibility()">
          <mat-icon>{{this.passwordUIHelper.passwordVisibility}}</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button matTooltip="Copy to clipboard" (click)="this.passwordUIHelper.copyPassword()">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button matTooltip="Regenerate password" (click)="this.passwordUIHelper.password = generatePassword()">
          Regenerate password
          <mat-icon>replay</mat-icon>
        </button>
        <button mat-raised-button matTooltip="Add to vault"(click)="addPassword()">
          Store in vault
          <mat-icon>check_circle</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
