.new-password {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 66%;
}

.new-password-form {
  display: flex;
  flex-direction: column;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

.button-row > button {
  width: 40%;
}
