<div class="matcard">
  <mat-card>
    <h1 class="mat-h1">{{this.passwordUIHelper.title}}</h1>
    <form class="password-form">
      <mat-form-field>
        <mat-label>Domain</mat-label>
        <input matInput type="text" [(ngModel)]="this.passwordUIHelper.domain" name="domain">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <mat-select [(value)]="this.passwordUIHelper.selectedUsername">
          <mat-option *ngFor="let username of this.settings.usernames.value" value="{{username}}">
            {{username}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{this.passwordUIHelper.passwordLabel}}</mat-label>
        <input matInput type="{{this.passwordUIHelper.passwordInputType}}" [(ngModel)]="passwordUIHelper.password" name="password" [disabled]="!this.passwordEditable">
        <button mat-button matSuffix mat-icon-button matTooltip="Show/Hide" (click)="this.passwordUIHelper.togglePasswordVisibility()">
          <mat-icon>{{this.passwordUIHelper.passwordVisibility}}</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button matTooltip="Copy to clipboard" (click)="this.passwordUIHelper.copyPassword()">
          <mat-icon>content_copy</mat-icon>
        </button>
        <mat-hint *ngIf="this.passwordEditable" align="start" aria-live="polite">Password strength</mat-hint>
        <mat-hint *ngIf="this.passwordEditable" align="end" aria-live="polite">{{this.passwordStrength}} / 100</mat-hint>
      </mat-form-field>
      <mat-password-strength *ngIf="this.passwordEditable" class="strength" [password]="this.passwordUIHelper.password" (onStrengthChanged)="this.onStrengthChanged($event)" >
      </mat-password-strength>
      <div *ngIf="this.showInputEditError" class="error">Load the password with the button below</div>
      <router-outlet></router-outlet>
    </form>
  </mat-card>
</div>
