.password {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
}

.password-form {
  display: flex;
  flex-direction: column;
  width: 24em;
}

.button-row > button {
  width: 30%;
}

.strength {
  margin: 1% 0 2% 0;
}
